# Directories
build/

# Visual Studio Files
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
.vs/

# Makefiles
Makefile
**.make

# user-generated stuff
compile_commands.json
compile_commands/
.cache/
.clangd

# Experimental stuff
scratch.aria
scratch2.aria
scratch3.aria
scratch4.aria
scratch5.aria
output.ariac